<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UserAgent" value="[set proper value]" />
    <add key="AuthorizationToken" value="[set proper value]" />
    <add key="RepositoryName" value="[set proper value]" />
    <add key="MasterBranchName" value="[set proper value]" />
    <add key="pullRequestUri" value="[set proper value]" />
  </appSettings>
</configuration>